.justificar{
  margin-top: 5rem;
  text-align: center;
  
}

.titulo{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  align-items: center;
  margin-left: 0.5rem;
  text-align: center;
  justify-content: space-between;
  display: flex;
  margin-top: 1rem;
}

.table {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-collapse: collapse;
  align-items: center;
  max-width: 100%;
}
.thead{
  background-color: #073b85;
  width: 100%;
  height: 50px;
  color: white;
  border: 1px solid black;
}
.table th{
  border: 1px solid black;
}
.thead th{
  width: 100vh;
}
.tbody td {
  border: 1px solid black;
  padding: 8px;
}
 
